body {
  background-color: #f8f9fa; /* Set the body background color */
}
.col-lg-4{
  color: #fff;
}
.round-photo {
  border-radius: 50%;
  width: 200px;
  height: 200px;
  object-fit: cover;
  display: block;
  margin: 0 auto; 
}
.text-4xl{
  color: #2F539B;
}
.text-3xl{
  color: #2F539B;
}
.para{
  color: #728FCE
}
.left-column {
  background-color: #2F539B;
  border-left: 1px solid #2F539B;
  padding-left: 20px;

}

hr {
  border-top: 1px solid #ddd;
}